{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
<div class="container" style="height: calc(100vh - 332px);">
    <div class="row" style="height:100%">
        <div style="height:100%" class="col d-flex justify-content-center">
            <div style="display: flex;flex-direction: column;align-content: center;justify-content: center;">

                <p class="fw-bold text-big h3">{% trans "Confirm E-mail Address" %}</p>

                {% if confirmation %}

                {% user_display confirmation.email_address.user as user_display %}

                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                    <button class="btn btn-primary shadow" style="background-color: rgb(133,206,189) !important;border-color: rgb(133,206,189)" type="submit">{% trans 'Confirm' %}</button>
                </form>

                {% else %}

                {% url 'account_email' as email_url %}

                <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                {% endif %}
            </div>

        </div>

    </div>
</div>
{% endblock %}
